<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/css/v2")
    @Scripts.Render("~/js/v2")
</head>
<body>
    <div id="Jok" class="JokMain">

        <!-- [Corner Objects] -->
        <div id="Background"></div>
        <div id="Background2"></div>
        <div id="ExitButton">
            <div class="circle">
                <i class="fa fa-angle-left"></i>
            </div>
            Exit
        </div>
        <div id="ChatButton">
            Chat
            <div class="circle">
                <i class="fa fa-comment-o"></i>
            </div>
        </div>
        <div id="ConfigButton" data-toggle="modal" data-target="#SettingsModal">
            Game Settings
            <div class="circle">
                <i class="fa fa-umbrella"></i>
            </div>
        </div>
        <div id="PlayerButton">
            <div class="circle player_circle">
                <i class="glyphicon glyphicon-music main_icon"></i>
            </div>
            <span class="title">
                Music Player
            </span>
            <div id="MusicPlayer" class="jokfm_plugin">
                <div>
                    <span class="item previous_button"><i class="fa fa-backward"></i></span>
                    <span class="item play_button"><i class="fa fa-play"></i></span>
                    <span class="item stop_button"><i class="fa fa-stop"></i></span>
                    <span class="item next_button"><i class="fa fa-forward"></i></span>
                </div>
                <div class="active_channel">Online Music</div>
            </div>
        </div>



        <div id="Authorization">
            <img src="http://jok.io/content/images/portal/joklogo2.png" />
            <br />
            <br />
            <ul class="social_connect">
                <li class="click_navigate">
                    <a href="http://jok.io/portal/joinus/facebook?returnUrl=@Request.Url">
                        <img src="http://jok.io/content/images/social/fb.png" />
                        Login using Facebook
                    </a>
                </li>
                <li class="click_navigate">
                    <a href="http://jok.io/portal/joinus/twitter?returnUrl=@Request.Url">
                        <img src="http://jok.io/content/images/social/twitter.png" />
                        Login using Twitter
                    </a>
                </li>
                <li class="click_navigate">
                    <a href="http://jok.io/portal/joinus/odnoklasniki?returnUrl=@Request.Url">
                        <img src="http://jok.io/content/images/social/odno.png" />
                        Login using Однокласники
                    </a>
                </li>
                <li class="click_navigate">
                    <a href="http://jok.io/portal/joinus/vkontaqte?returnUrl=@Request.Url">
                        <img src="http://jok.io/content/images/social/vk.png" />
                        Login using Вконтакте
                    </a>
                </li>
                <li class="click_navigate">
                    <a href="http://jok.io/portal/joinus/google?returnUrl=@Request.Url">
                        <img src="http://jok.io/content/images/social/google.png" />
                        Login using Google
                    </a>
                </li>
            </ul>
        </div>


        <div id="Notifications">
            <div class="item">Holla</div>

        </div>



        <div id="SettingsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="SettingsModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="SettingsModal"><i class="fa fa-umbrella"></i> Game Settings</h3>
                    </div>
                    <div class="modal-body">
                        <button class="btn btn-default btn-block btn-lg disable_audio_effects"><i class="glyphicon glyphicon-volume-up" style="float:left;"></i> Disable Audio Effects</button>
                        <button class="btn btn-default btn-block btn-lg enable_audio_effects"><i class="glyphicon glyphicon-volume-off" style="float:left;"></i> Enable Audio Effects</button>
                        <button class="btn btn-default btn-block btn-lg clear_chat"><i class="fa fa-comment-o" style="float:left;"></i> Clear Chat</button>
                    </div>
                </div>
            </div>
        </div>


        <div id="RightPanel">
            <div class="chat_messages">
                <div class="bubles_container">
                    <div class="buble colorJ">
                        <span class="nick">Jok:</span>
                        <div>
                            Hello, How are you?
                        </div>
                    </div>
                    <div class="buble color3">
                        <span class="nick">Ezeki</span>
                        <div>
                            Let's play !
                        </div>
                    </div>
                    <div class="buble colorJ">
                        <span class="nick">Jok:</span>
                        <div>
                            Hello, How are you?
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat_input">
                @if (String.IsNullOrEmpty(ViewBag.Channel))
                {
                <input id="ChatMessageInput" type="text" placeholder="Press Enter & Send Message" maxlength="100" />
                }
                else
                {
                <input id="ChatMessageInput" type="text" placeholder="Chat is pribate" maxlength="100" />
                }
            </div>
        </div>


        <div id="SmilesBoxModal" class="modal  " tabindex="-1" role="dialog" aria-labelledby="SettingsModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="SettingsModal"><i class="fa fa-smile-o"></i> Send Emotions</h3>
                    </div>
                    <div class="modal-body">
                        <div class="smiles_container">
                        </div>
                        <div class="headline vip">
                            <span>VIP Emotions</span>
                        </div>
                        <div class="vip_smiles_container @(ViewBag.IsVIPMember == true ? "" : "disabled")">
                        </div>

                    </div>
                </div>
            </div>
        </div>


        @**@
        <!-- [/Corner Objects] -->
        @*    <div id="Notifications">
                <div class="item connecting" style="display: block;">
                    R.A023
                </div>
                <div class="item connected">
                    R.A024
                </div>
                <div class="item not_authorized">
                    R.A025
                </div>
                <div class="item waiting_opponents">
                    R.A026
                </div>
                <div class="item waiting_friends">
                    Html.Raw(R.A027)<br />
                    <input type="text" readonly style="padding: 13px; width: 230px;" />
                </div>
                <div class="item game_starting_select_positions">
                    R.A028 <br />
                    R.A029 <span style="font-size: 20px;">10</span> R.A030
                </div>
                <div class="item game_finished">
                    R.A031<br />
                    <table id="FinishResults"></table>
                    <a id="PlayAgain" href="#">
                        R.A032
                    </a>
                </div>
                <div class="item connection_closed" style="cursor:pointer;" onclick="document.location.reload()">
                    R.A033<br />
                    R.A034
                </div>
            </div>
            <div id="RightPanel">
                <div class="results">
                    <div class="mini_results">
                        <table>
                            <thead>
                                <tr>
                                    <td></td>
                                    <td><div></div></td>
                                    <td><div></div></td>
                                    <td><div></div></td>
                                    <td><div></div></td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="full_results">
                    </div>
                </div>
                <div class="chat_messages">
                    <div class="container">
                    </div>
                </div>
                <div class="chat_input">
                    @if (String.IsNullOrEmpty(ViewBag.Channel))
                    {
                        <input id="ChatMessageInput" type="text" placeholder="R.A037" readonly maxlength="100" />
                    }
                    else
                    {
                        <input id="ChatMessageInput" type="text" placeholder="R.A047" maxlength="100" />
                    }
                </div>
            </div>
            <div id="Stats">
                <div class="dring">
                    R.A038
                    <span>~</span>
                </div>
                <div class="dominating">
                </div>
            </div>
            <div id="SmilesBox">
                <div class="headline">
                    <span>R.A052</span>
                </div>
                <div class="smiles_container">
                </div>
                <div class="headline vip">
                    <span>R.A053</span>
                </div>
                <div class="vip_smiles_container @(ViewBag.IsVIPMember == true ? "" : "disabled")">
                </div>
            </div>*@

    </div>

    <style>
        #Jok.panel_open ~ #Game{
            margin-right: 300px;
        }
        #Game {
            position: relative;
            z-index: 100;
            transition: 200ms;
        }

        #Player1 {
            position: absolute;
            top: 100px;
            left: 30%;
        }

        #Player2 {
            position: absolute;
            top: 100px;
            right: 30%;
        }
    </style>
    <div id="Game">
        <div id="Player1" class="jok_player">
            <img src="http://play.jok.io/images/speakers2.png" class="music_speakers">
            <img class="avatar" src="https://jok.io/portal/avatar/~base_skin_01b~Clothes_14~Eyes_01~Mouth_02~Eyebrows_07~~Hair_03~Accessories_03~8587994621026700984" />
            <div class="nick"><span>PlayerX</span></div>
            <div class="offline_title">Offline</div>
            <div class="wins"></div>
            <div class="added_points"></div>
            <div class="score"></div>
            <div class="progressbar"></div>
            <div class="chat_bubble">
                <div class="inner">HollaHollaHollaHollaHollaHollaHollaHollaHollaHollaHollaHollaHollaHollaHollaHollaHollaHollaHollaHolla</div>
            </div>
            <div class="ready"></div>
            <div class="music_player"></div>
            <div class="rate"></div>
            <div class="playing_music_channel">HITS</div>
        </div>
        <div id="Player2" class="jok_player invert offline">
            <img class="avatar" src="https://jok.io/portal/avatar/~base_skin_01b~Clothes_14~Eyes_01~Mouth_02~Eyebrows_07~~Hair_03~Accessories_03~8587994621026700984" />
            <div class="nick"><span>PlayerX</span></div>
            <div class="offline_title">Offline</div>
            <div class="wins"></div>
            <div class="added_points"></div>
            <div class="score"></div>
            <div class="progressbar"></div>
            <div class="chat_bubble"></div>
            <div class="ready"></div>
            <div class="music_player"></div>
            <div class="rate"></div>
        </div>
    </div>
    <script>
        JP.on('ChatMessageSend', function (msg) {
            console.log('Message sent', msg);
        });
    </script>
</body>
</html>
